* {
	margin: 0px;
}

html, body {
	margin: 0px;
	border: none;
	width: 100%;
	height: 100%;
}

.gmail-logo {
	width: 40px;
	height: 40px;
}

header {
	width: 100%;
	height: 80px;
}

nav {
	width: 100%;
	height: 70px;
	padding-right: 10px;
}

#account-logo {
	width: 50px;
	float: right;
}

#gmail-text-links {
	width: 105px;
	float: right;
	margin-top: 15px;
	padding-right: 5px;
}

#padd-a {
	padding-right: 8px;
}

#google-mic {
	margin-top: 7px;
	width: 17px;
	height: 23px;
}

#logo-image {
	margin-top: 80px;
	width: 350px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input {
	width: 530px;
	height: 30px;
	float: left;
	margin-top: 8px;
	margin-left: 15px;
	border: none;
}

input:focus {
	outline: none;
}

.mic-div {
	width: 19px;
	height: 28px;
	margin-left: 562px;
	padding-top: 8px;
	padding-bottom: 0px;
}

#input-field {
	width: 595px;
	height: 52px;
	border-radius: 30px;
	border: 1px black solid;
	margin-left: auto;
	margin-right: auto;
}

.big-div {
	margin-top: 20px;
}

.btn-div1, .btn-div2 {
	width: 133px;
	height: 38px;
}

.btn-div1 {
	float: left;
}
.btn-div2 {
	margin-left: 130px;
}
.small-big-div {
	width: 253px;
	height: 70px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.offered {
	margin-left: auto;
	margin-right: auto;
	width: 188px;
}

footer {
	margin-top: 130px;
	background-color: #8080801f;
	height: 90px;
	width: 100%;
}

p {
	margin-left: 20px;
}

.kenya-div {
	border-top: 1px solid #80808085;
	border-bottom: 1px solid #80808085;
	height: 40px;
	min-width: 100%;
	padding-bottom: 7px;
}

.advert-div {
	float: left;
	width: 330px;
	margin-left: 20px;
	margin-top: 10px;
}

.privacy-div {
	float: right;
	width: 170px;
	margin-top: 10px;

}














/*html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

img.resize {
	width: 350px;
	height: 100;
	margin-top: 120px;
}

img.resize, [type="text"]{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

[type='text'] {
	border: 1px #979ba1 solid;
	width: 485px;
	height: 47px;
	border-radius: 50px;
}

a.btn-1:hover, a.btn-2:hover {
	color: #696d71;
	border-width: 1px;
}


.btn-1, .btn-2 {
	text-decoration: none;
	border-width: 0px;
	border-style: solid;
	border-radius: 5px;
	float: left;
	margin-left: 40.5%;
	padding: 10px;
	margin-top: 20px;
	background-color: #f2f2f2;
	color: #5F6368;
}

a.btn-1:visited, a.btn-2:visited {
	color: purple;
	border-width: 1px;
}

.btn-2 {
	margin-left: 0.5%;
}

.gmail-div1, .gmail-div2 {
	float: right;
	top: 5px;
}


